@import "../../global.scss";
.Portfolio{
    li{
        background-color: white;
        color:black;
        font-size: 2rem;
        margin: 0 2em;
        padding: 0.5em;
        border-radius: 10px;
        cursor: pointer;
   
        @include mobile{
        margin: 0 0.2em;
        font-size: 1.5rem;
    } 

    &.active{
    background-color: crimson;
    color:white;
    }
}

}
